body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 20px;
}

.todo-list, .done-list {
  background-color: #E4E5E7;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.form {
  width: 600px;
  margin: auto;
  padding: 5px;
}

.form * {
  font-size: 16px;
  height: 35px;
}

#todo-input {
  width: 80%;
}

#save-button {
  background-color: #32B12A;
  width: 15%;
  border-radius: 5px;
  border-style: none;
}

.liked {
  background-color: #3C99FF !important;
}

.done-button {
  background-color: #3489B1;
  width: 15%;
  border-radius: 5px;
  border-style: none;
  height: 25px;
  font-size: 16px;
  float: right;
}

li {
  margin: 10px 0;
  /*list-style-type: none;*/
  border-bottom: solid 1px;
}

.done {
  text-decoration: line-through;
}
#clear-button {
  background-color: black;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  border-style: none;
  color: white;
}